{
    "NSPrivacyTracking": false,
    "NSPrivacyTrackingDomains": [],
    "NSPrivacyCollectedDataTypes": [
        {
            "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeDeviceID",
            "NSPrivacyCollectedDataTypeLinked": true,
            "NSPrivacyCollectedDataTypeTracking": false,
            "NSPrivacyCollectedDataTypePurposes": [
                "NSPrivacyCollectedDataTypePurposeAppFunctionality",
                "NSPrivacyCollectedDataTypePurposePreventFraud"
            ]
        },
        {
            "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeLocation",
            "NSPrivacyCollectedDataTypeLinked": true,
            "NSPrivacyCollectedDataTypeTracking": false,
            "NSPrivacyCollectedDataTypePurposes": [
                "NSPrivacyCollectedDataTypePurposeAppFunctionality",
                "NSPrivacyCollectedDataTypePurposePreventFraud"
            ]
        },
        {
            "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeIdentifiers",
            "NSPrivacyCollectedDataTypeLinked": true,
            "NSPrivacyCollectedDataTypeTracking": false,
            "NSPrivacyCollectedDataTypePurposes": [
                "NSPrivacyCollectedDataTypePurposeAppFunctionality",
                "NSPrivacyCollectedDataTypePurposePreventFraud"
            ]
        },
        {
            "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeUsageData",
            "NSPrivacyCollectedDataTypeLinked": true,
            "NSPrivacyCollectedDataTypeTracking": false,
            "NSPrivacyCollectedDataTypePurposes": [
                "NSPrivacyCollectedDataTypePurposeAppFunctionality",
                "NSPrivacyCollectedDataTypePurposePreventFraud"
            ]
        },
        {
            "NSPrivacyCollectedDataType": "NSPrivacyCollectedDataTypeDeviceCharacteristics",
            "NSPrivacyCollectedDataTypeLinked": true,
            "NSPrivacyCollectedDataTypeTracking": false,
            "NSPrivacyCollectedDataTypePurposes": [
                "NSPrivacyCollectedDataTypePurposeAppFunctionality",
                "NSPrivacyCollectedDataTypePurposePreventFraud"
            ]
        }
    ],
    "NSPrivacyAccessedAPITypes": [
        {
            "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryLocation",
            "NSPrivacyAccessedAPITypeReasons": [
                "B659.1"
            ]
        },
        {
            "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryFileTimestamp",
            "NSPrivacyAccessedAPITypeReasons": [
                "C617.1"
            ]
        },
        {
            "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategorySystemBootTime",
            "NSPrivacyAccessedAPITypeReasons": [
                "C617.1"
            ]
        },
        {
            "NSPrivacyAccessedAPIType": "NSPrivacyAccessedAPICategoryDeviceName",
            "NSPrivacyAccessedAPITypeReasons": [
                "C617.1"
            ]
        }
    ],
    "NSPrivacyTrackingDomains": []
} 